.signup-form-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
}

.signup-form-box {
  width: 500px;
  height: 520px;
  font-size: 16px;
  padding: 40px 40px 50px 40px;
  background-color: #0f044c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}

.signup-form-user {
  margin-top: 30px;
  display: flex;
}

input {
  width: 80%;
  margin-bottom: 25px;
  padding: 0 30px 15px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #141e75;
  outline: none;
  background-color: #0f044c;
  color: #fff;
}
select {
  width: 90%;
  margin-bottom: 25px;
  padding: 0 30px 13.5px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #141e75;
  outline: none;
  background-color: #0f044c;
  color: #847a7a;
}

input:focus {
  border-bottom: 1px solid #eeeeee;
}

.reset-password {
  color: #ff7f50;
  text-align: right;
  margin-top: 0px;
  font-size: 12px;
}

.signup-form-login-btn {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  display: block;
  width: 80%;
  padding: 15px;
  background-color: #eeeeee;
  color: #0f044c;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  opacity: 1;
}

a {
  text-decoration: none;
}
.form-heading {
  color: #cfcdcd;
  font-weight: 900;
}

.close-btn {
  height: 45px;
  margin-bottom: 15px;
  font-size: large;
  width: 45px;
  background-color: #606676;
  opacity: 80%;
  border-radius: 50%;
  color: #cfcdcd;
}
.close-btn:hover {
  background-color: #cfcdcd;
  opacity: 100%;
  color: #0f044c;
}

.input-left-container {
  margin-right: 10px;
}
.label-style {
  color: #eeeeee;
}
.checkbox-main-container {
  text-align: center;
  display: flex;
}
.checkbox-container {
  border-bottom: 2px solid #141e75;
  text-align: center;
}

.clock::-webkit-calendar-picker-indicator {
  width: 20px;
  height: 20px;
  background-color: #eeeeee;
  border-radius: 50%;
}
.clock-in:before {
  content: "In Time:";
  margin-right: 0.6em;
  color: #9d9d9d;
}
.clock-out:before {
  content: "Out Time:";
  margin-right: 0.6em;
  color: #9d9d9d;
}

.appointment-input {
  margin-bottom: 0;
}
.persona-heading {
  color: #eeeeee;
  margin-top: 0;
  border-bottom: 1px solid white;
}
.persona-heading-container {
  text-align: center;
}
.custom-select-container {
  background-color: #0f044c;
}

.custom-select-container:focus {
  background-color: #0f044c;
}
.suggestion-container {
  margin: 0;
  list-style: none;
  background-color: #0f044c;
  color: #fff;
  border-bottom: "1px solid #eeeeee";
  border-left: "1px solid #eeeeee";
  border-right: "1px solid #eeeeee";
  position: absolute;
  z-index: 1;
}
ul .suggestion-container:hover {
  background-color: #606676;
  color: #fff;
}
.suggestion-container-li {
  padding: 10px;
  cursor: pointer;
  color: #fff;
}
.suggestion-container-li:hover {
  background-color: #606676;
}
